# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# env files
env/backend-local.env

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
